<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="image.css">
</head>
<body>
    <main>
        <h2>Image</h2>
        <div class="img-container">
            <div class="img-small">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image small">
            </div>
            <div class="img-medium">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image medium">
            </div>
            <div class="img-large">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image large">
            </div>
        </div>
        <hr>
        <div class="img-container">
            <div class="img-small-round">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image small round">
            </div>
            <div class="img-medium-round">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image medium round">
            </div>
            <div class="img-large-round">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="Responsive Image large round">
            </div>
        </div>
    </main>
</body>
</html>