<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Typography.css">
    <title>Text Utilities</title>
</head>
<body>
    <main>
        <h2>Header Size</h2>
        <div class="txt-container"> 
            <h1>Heading 1</h1>
            <h2>Heading 2 </h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
        </div>
        <hr>
        <h2>Text Size</h2>
        <div class="txt-container">
            <p class="txt-l">Large Text</p>
            <p class="txt-m">Medium Text</p>
            <p class="txt-s">Small Text</p>
        </div>
        <hr>
        <h2>Text Variants</h2>
        <div class="txt-container">
            <p class="txt-bold">Bold Text</p>
            <p class="txt-regular">Regular Text</p>
            <p class="txt-light">Light Text</p>
            <p class="txt-grey">Grey Text</p>
        </div>
        <hr>
        <h2>Paragraph Text</h2>
        <div class="txt-container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quaerat labore quasi sed rem, nesciunt sapiente quia cumque aliquam quod vel dolores deserunt facilis inventore magnam. Vel dignissimos odit vero.
        </div>
    </main>
</body>
</html>