.txt-container {
    display: flex;
}

.txt-grey {
    color: grey;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 1rem;

}

.txt-l {
    font-size: 4rem;
}

.txt-m {
    font-size: 2rem;
}

.txt-s {
    font-size: 1rem;
}

.txt-bold {
    font-weight: bold;
}

.txt-light {
    font-weight: lighter;
}