.object {
    padding: 1rem;
    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 2rem;
    background-color: #94eaff;
}

.grid {
    display: grid;
    justify-items: stretch;
    align-items: center;
    border: 0.25rem solid black;
}

.obj-2 {
    grid-template-columns: repeat(autofit, 20rem);
}

.obj-3 {
    grid-template-columns: repeat(3, 1fr);
}