<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <h2>Grids</h2>
    <div class="container">
         <h2>grid with 2 objects</h2>
         <div class="grid">
             <div class="1 object">Object 1</div>
             <div class="2 object">Object 2</div>
         </div>
        <h2>grid with 3 objects</h2>
        <div class="grid">
            <div class="1 object">Object 1</div>
            <div class="2 object">Object 2</div>
            <div class="3 object">Object 3</div>
        </div>
    </div>
    
</body>
</html>