<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="Card.css">k
</head>
<body>
    <h2>Card</h2>
    <div class="container">
        <h2>Card - Text only</h2>
        <div class="card-container"></div>
        <hr>
        <h2>Card - Badge</h2>
        <div class="card-container"></div>
        <hr>
        <h2>Card - Dismiss</h2>
        <div class="card-container"></div>
        <hr>
        <h2>Card - Vertical</h2>
        <div class="card-container"></div>
        <hr>
        <h2>Card - Shadow</h2>
        <div class="card-container"></div>
        <hr>
        <h2>Card - Text overlay</h2>
        <div class="card-container"></div>
        <hr>
    </div>
</body>
</html>