<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="Card.css">
</head>
<body>
    <h2>Card</h2>
    <div class="container">
        <h2>Card - Text only</h2>
        <div class="card-container">
            <div class="card-contents">
                <h2>Product</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button class="primary-btn" ><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
        </div>
        <hr>
        <h2>Card - Badge</h2>
        <div class="card-container">
            <div class="card-image">
                <img src="/assets/maldives.jpg" alt="">
                <div class="badge">New Arrival</div>
            </div>
            <div class="card-contents">
                <h2>Product</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button  class="primary-btn"><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
        </div>
        <hr>
        <h2>Card - Dismiss</h2>
        <div class="card-container">
            <div class="card-image">
                <img src="/assets/maldives.jpg" alt="">
            </div>
            <div class="card-contents">
                <h2>Product</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button class="primary-btn"><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
            <div class="cancel">
                <a href="">Cancel</a>
            </div>
        </div>
        <hr>
        <h2>Card - Vertical</h2>
        
        <div class="card-container">
            <div class="card-image">
                <img src="/assets/maldives.jpg" alt="">
            </div>
            <div class="card-contents">
                <h2>Product</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button class="primary-btn"><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
        </div>
        <hr>
        <h2>Card - Shadow</h2>  
        <div class="card-container shadow">
            <div class="card-image">
                <img src="/assets/maldives.jpg" alt="">

            </div>
            <div class="card-contents">
                <h2>Product</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button class="primary-btn"><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
        </div>
        <hr>
        <h2>Card - Text overlay</h2>
        <div class="card-container">
            <div class="card-image">
                <img src="/assets/maldives.jpg" alt="">
                <h2>Product</h2>
            </div>
            <div class="card-contents">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque commodi quod incidunt sint sapiente.
            </div>
            <div class="card-action">
                <button  class="primary-btn"><a class="btn-link" href="">Add to Cart</a></button>
                <button class="secondary-btn"><a class="btn-link" href="">Add to Wishlist</a></button>
            </div> 
        </div>
        <hr>
    </div>
</body>
</html>