<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="button.css">
    <script src="https://kit.fontawesome.com/a0f6982c90.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
    <h2>Buttons</h2>
        <div class="btn-container">
            <h3>Solid Buttons</h3>
            <button class="btn primary-solid">Yes!</button>
            <button class="btn secondary-solid">No!</button>
            <button class="btn warning-solid">Check!</button>
            <button class="btn error-solid">Error!</button>
            <button class="btn disabled-solid">Disabled</button>
        </div>
        <div class="btn-container">
            <h3>Outline Buttons</h3>
            <button class="btn outline primary-outline">Yes!</button>
            <button class="btn outline secondary-outline">No!</button>
        </div>
        <div class="btn-container">
            <h3>Link Buttons</h3>
            <button class="btn primary-link"><a href=""><i class="fas fa-search"></i></a></button>
            <button class="btn secondary-link"><a href=""><i class="fas fa-bars"></i></a></button>
        </div>
        <div class="btn-fab">
            <h3>FAB button</h3>
            <button class="fab"><i class="fas fa-plus"></i></button>
        </div>
        <div class="button-icon"></div>
</main>
</body>
</html>