@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --light-text: #e5fbff;
    --light-solid: #94eaff;
    --dark-text: #00b7ff;
    --dark-solid: #006fd6;
    --error: #db1f00;
    --warning: #fff110;

}

.btn {
    padding: 0.5rem 2rem;
    margin: 1rem;
    border-radius: 10px;
}

.btn-primary-link {
    background-color: var(--light-solid);
}

.btn-secondary-link {
    background-color: var(--light-text);
}

.btn-primary-solid {
    background-color: var(--dark-solid);
    color: var(--light-text)
}

.btn-primary-solid:hover {
    background-color: var(--light-solid);
    color: black;
}

.btn-secondary-solid {
    background-color: var(--light-solid);
    color: black;
}

.btn-secondary-solid:hover {
    background-color: var(--dark-solid);
    color: white;
}

.btn-disabled-solid {
    background-color: var(--dark-solid);
    color: var(--light-text);
    opacity: 0.5;
}

.btn-warning-solid {
    background-color: var(--error);
    color: white;
}

.btn-error-solid {
    background-color: var(--warning);
    color: black;
}

a {
    text-decoration: none;
}

.btn-primary-outline {
    border-color: var(--dark-solid);
    background-color: white;

}



.btn-primary-outline:hover {
    background-color: var(--dark-solid);
}

.btn-secondary-outline {
    border-color: var(--light-solid);
    background-color: white;
}

.btn-secondary-outline:hover {
    background-color: var(--dark-text);
}

.fab {
    background-color: var(--dark-solid);
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    outline: none;
    border: none;
}