<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="Avatar.css">
    <script src="https://kit.fontawesome.com/23eb9e1375.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Avatar</h2>
    <div class="container">
        <h2>Basic Avatar</h2>
        <div class="avatar-container">
            <img class="avatar-s"src="../../assets/Chelsea.jpeg" alt="">
            <img class="avatar-m"src="../../assets/Chelsea.jpeg" alt="">
            <img class="avatar-l"src="../../assets/Chelsea.jpeg" alt="">
        </div>
        <hr>
        <h2>Avatar with badge</h2>
        <div class="avatar-container">
            <div class="badge-container ">
                <img class="avatar-s" src="../../assets/Chelsea.jpeg" alt="">
                <div class="badge"></div>
              </div>
        </div>
    </div>
    
</body>
</html>