.list-inline {
    list-style: none;
    display: inline;
    padding: 1rem;

}

.navigation-container {
    display: flex;
    background-color: #006fd6;
    margin: none;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: white
}