<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./badge.css" />
    <script
      src="https://kit.fontawesome.com/e612b5b46f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2 class="">Badges</h2>
    <h3 class="">Badge on Icon</h3> 
    <div class="container">
        <div class="badge-container ">
            <div class="email-badge">
              <i class="fas fa-envelope fa-2x "></i>
            </div>
            <div class="badge">10</div>
          </div>
          <div class="badge-container ">
              <div class="">
                <i class="fas fa-bell fa-2x "></i>
              </div>
              <div class="badge">10</div>
            </div>
    </div>
      <hr>
      <h3 class="">Badge on Button</h3> 
      <div class="container">
        <div class="badge-container ">
            <button class="btn btn-primary-solid">Action!</button>
            <div class="badge">10</div>
          </div>
          <div class="badge-container ">
            <button class="btn btn-primary-solid">Notification!</button>
            <div class="badge">10</div>
          </div>
      </div>
    </body>
  </html>