<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="snackbar.css">
    <title>Snackbar</title>
</head>
<body>
    <h2>Snackbar</h2>
    <div class="container">
      <div class="snackbar">
        <div class="snackbar-message">
          <p>Error occured. Retry in 5 seconds.</p>
        </div>
        <div class="snackbar-actions">
          <button class="btn">RETRY
          </button>
          <button class="btn">close</i>
          </button>
        </div>
      </div>
    </div>   
</body>
</html>
