<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <script src="https://kit.fontawesome.com/a0f6982c90.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="alert.css">

</head>
<body>
    <h2>Alert</h2>
    <div class="container">
        <div class="alert-container bg-success">
            <i class="fas fa-check-circle" id="alert"></i>
            <span>Success alert — <b>check it out!</b></span>
        </div>
        <div class="alert-container bg-error">
            <i class="fas fa-exclamation-circle" id="alert"></i>
            <span>Error alert — <b>check it out!</b></span>
        </div>
        <div class="alert-container bg-warning">
            <i class="fas fa-exclamation-triangle" id="alert"></i>
            <span>Warning alert — <b>check it out!</b></span>
        </div>
        <div class="alert-container bg-update">
            <i class="fas fa-info-circle" id="alert"></i>
            <span>Info alert — <b>check it out!</b></span>
        </div>
    </div>

</body>
</html>